[submodule "submodules/puppeteer"]
	path = submodules/puppeteer
	url = https://github.com/puppeteer/puppeteer.git
[submodule "submodules/playwright"]
	path = submodules/playwright
	url = https://github.com/microsoft/playwright.git
[submodule "submodules/jest"]
	path = submodules/jest
	url = https://github.com/jestjs/jest.git
