name: Publish release

on:
  workflow_dispatch:
  push:
    tags: '*'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 18.18
      - name: Install dependencies
        run: npm install
      - name: Build puppeteer
        run: npm run build
      - name: Publish puppeteer
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
        run: |
          npm config set registry 'https://registry.npmjs.org/'
          npm config set '//registry.npmjs.org/:_authToken' '${NPM_TOKEN}'
          echo "Publishing @cloudflare/puppeteer"
          cd ./packages/puppeteer-core/
          npm publish ${{ contains(github.ref, 'rc')  && '--tag next' || ''}}
